@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');

@layer base {
  :root {
    --background: 48 45% 98%;
    --foreground: 80 5% 1%;

    --card: 40 31% 94%;
    --card-foreground: 80 5% 1%;
    --form-card: 33 33% 83%;

    --popover: 48 45% 98%;
    --popover-foreground: 80 5% 1%;

    --primary: 21 77% 66%;
    --primary-foreground: 210 40% 98%;
    --primary-active: 21 56% 45%;

    --secondary: 37 40% 90%;
    --secondary-foreground: 21, 77%, 66%;

    --muted: 37 40% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 37 40% 90%;
    --accent-foreground: 21, 77%, 66%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 21 73% 79%;
    --input: 21 73% 79%;
    --ring: 21 73% 79%;

    --radius: 0.5rem;
    --input-background: 48 33% 97%;
    --disabled: 60 8% 85%;
    --error: 0 84.2% 60.2%;
  }

  .dark {
    --background: 80 5% 1%;
    --foreground: 210 40% 98%;

    --card: 80 5% 1%;
    --card-foreground: 210 40% 98%;
    --form-card: 33 33% 83%;

    --popover: 80 5% 1%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 21, 77%, 66%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --input-background: 48 33% 97%;
    --disabled: 60 8% 85%;
    --primary-active: 21 56% 45%;
    --error: 0 84.2% 60.2%;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Athiti", sans-serif;
  }
}